#detaile-osoa{
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    width: 50%;
    padding-left:5%;
    padding-right:5%;
}

#pTit{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3em;
    margin: 2%;
}

#pAut{
    font-size: 1em;
    font-weight: bold;
}

#day{
    margin: 2%;
    width: 5%;
    height: 5%;
    
}

#night{
    margin: 2%;
    width: 5%;
    height: 5%;
}

#pGorputza{
    text-align: justify;
}

#pGorputza::first-letter{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.5em;
    margin: 0.05em,0.05em,0em,0.05em;
    margin-right: 0.05em;
    
}