<div style="text-align:center" id="detaile-osoa">
<p id="pTit">{{poema.izena}}</p>
<p id="pAut">{{poema.autorea}}</p>
<p id="pUrt">{{poema.urtea}}</p>

<img src="./../assets/img/eguzki.png" id="day">
<img src="./../assets/img/ilargi.png" id="night">
<p id="pGorputza">{{poema.testua}}</p>



</div>