/* You can add global styles to this file, and also import other style files */
#ongietorri{
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 4.5em;
    
}

#intro{
    width: 40%;
    height: 30%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    font-size: 1.3em;
    margin-bottom: 2%;
    padding: 1%;
    border-left: 0.05em solid black;
}

#intro::first-letter{
    font-size: 1.7em;
    margin: 0.02em;
    
}

#sartualbumera{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2%;

}

nav{
    font-family: 'Nanum Myeongjo', serif;
}