<div id="ataria" style="text-align:center">

  <h1 id="ongietorri">
     Ongi etorri gure poesiaren atarira
  </h1>
  
  <div>
  <h3 id="intro">
      Web aplikazio honen bitartez, zaharkiturik dagoen euskal poesiaren orrialdea berriztea espero dugu.
  </h3>
  <h3 id="intro">
      Irakurtzeko erraza den formatu batean eskaintzen dizuegu eduki guztia.
  </h3>
  <h3 id="intro">    
      Momentu bat hartu, lasaitu eta irakurri...
  </h3>
  
  </div>

<img src="./../assets/img/inkona.jpg" style="border-style: none">
</div>
