<div id="gehitu-osoa">
<form id="gehitzekoForm">
  <div class="form-group">
    <label for="izena">Izena</label>
    <input type="Text" class="form-control" id="izena" aria-describedby="izena" placeholder="Izena"  [(ngModel)]="izena" name="izena" >
  </div>
  <div class="form-group">
    <label for="autorea">Autorea</label>
    <input type="text" class="form-control" id="autorea" placeholder="autorea" [(ngModel)]="autorea" name="autorea">
  </div>
  <div class="form-group">
    <label for="urtea">Urtea</label>
    <input type="text" class="form-control" id="urtea" placeholder="urtea" [(ngModel)]="urtea" name="urtea">
  </div>
  <div class="form-group">
    <label for="testua">Testua</label>
    <input type="text" class="form-control" id="testua" placeholder="testua" [(ngModel)]="testua" name="testua">
  </div>

  <button type="submit" class="btn btn-dark" (click)="PoemaBerria()">Gehitu</button>
</form>
</div>


