<div id="aldatuosoa" style="text-align:center">
    <form>
       
           
              <div class="form-group">
                <label>Izena</label>
                <input type="text" class="form-control" id="izena" placeholder="Izena sartu" [(ngModel)]="poema.izena" name="izena">
              </div>
                <div class="form-group">
                <label>Autorea</label>
                <input type="text" class="form-control" id="autorea" placeholder="Autorea sartu" [(ngModel)]="poema.autorea" name="autorea">
              </div>
                <div class="form-group">
                <label>Urtea</label>
                <input type="text" class="form-control" id="urtea" placeholder="Urtea sartu" [(ngModel)]="poema.urtea" name="urtea">
              </div>
                <div class="form-group">
                <label>Testua</label>
                <input type="text" class="form-control" id="testua" placeholder="Testua sartu" [(ngModel)]="poema.testua" name="testua">
              </div>
              
              <button type="submit" (click)= "PoemaAldatu()" class="btn btn-dark" id="aldatuBotoia">Aldatu</button>
              <p id="aldatuOharra"></p>
           
    </form>
</div>

