<div id="bilduma-osoa" style="text-align:center">
    <h1 id="ongietorri">Poemen Bilduma</h1>
    <div *ngFor="let poema of poemak">
    
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><a id="bildumakoLink" routerLink="/poema/{{poema._id}}">{{poema.izena}}, {{poema.autorea}}, {{poema.urtea}} |</a> 
    <button routerLink="/aldatu/{{poema._id}}">ALDATU</button> 
    <button (click)="PoemaEzabatu(poema._id)" id="ezabatzekoBotoia" >X</button>
    </li>
    <hr>
    </ul>
       
    </div>
    <a routerLink="/gehitu">
        <img src="./../assets/img/plus.png" style="width: 2.5em; height: 2.5em; margin: 2%;">
    </a>
    
   
    

</div>
